* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
    padding: 24px;
}

img {
    image-rendering: pixelated;
}

form div {
    display: flex;
}

.pokemon-img {
    width: 420px;
    height: 420px;
    display: flex;
    margin: 0 auto;
}

.guess-box {
    background-image: url(https://pbs.twimg.com/media/DVMT-6OXcAE2rZY?format=jpg&name=medium);
    background-size: cover;
    border-radius: 5px;
}