* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #f6f6f6;
    min-height: 100vh;
}

header {
    border-bottom: 4px solid black;
    background: #ed4242e3;
    text-align: center;
}

header h1 {
    padding: 15px;
}

h2 {
    text-align: center;
    color: #fff;
}

main {
    border: 20px solid #061628;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    max-width: 1200px;
    margin: 0 auto;
    background-image: url(https://pbs.twimg.com/media/DVMT-6OXcAE2rZY?format=jpg&name=medium);
    background-size: cover;
    border-radius: 10px;
    margin-top: 120px;
}

img {
    image-rendering: pixelated;
}

.nes-field {
    display: flex;
    width: 500px;
}

.play-again {
    width: fit-content;
}

.nes-field button {
    width: 30%;
}

.pokemon-img {
    width: 420px;
    height: 420px;
    display: flex;
    margin: 0 auto;
    transition: filter 1.5s;
    animation: move 5s linear infinite;
}

button {
    height: 68px;
}

input {
    outline: none;
}

.hearts {
    margin-top: 12px;
}

.lists {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

span {
    text-transform: capitalize;
}

@keyframes move {
    0% {
        transform: translateY(0)
    }

    25% {
        transform: translateY(-10px)
    }

    50% {
        transform: translateY(0)
    }

    75% {
        transform: translateY(10px)
    }

    to {
        transform: translateY(0)
    }
}